<%= form_with(model: seance, local: true) do |form| %>
  <% if seance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(seance.errors.count, "error") %> prohibited this seance from being saved:</h2>

      <ul>
        <% seance.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :"Film: " %>
    <%= form.select :film_id, Film.all.pluck(:name,:id),{class: "form-control"}%>
  </div>
  <div class="field">
    <%= form.label :"Hall: " %>
    <%= form.select :hall_id, Hall.all.pluck(:title,:id),{class: "form-control"}%>
  </div>

  <div class="field">
    <%= form.label :"Time: " %>
    <%= form.time_select :time, class:"form-control" %>
  </div>

<!--  <div class="field">-->
    <%#= form.label :hall_id %>
    <%#= form.number_field :hall_id %>
<!--  </div>-->

  <div class="actions">
    <%= form.submit :Submit, class:"btn btn-dark"%>
  </div>
<% end %>
