<div class = "container">
<p id="notice"><%= notice %></p>

<h3>Seances</h3>
</div>

<!--<style>-->
<!--  .container {-->
<!--    display: flex;-->
<!--    flex-direction: row;-->
<!--    justify-content: flex-start;-->
<!--  }-->
<!--</style>-->
<% @seances.each do |seance| %>
  <div class="container alert alert-light">
    <div class="list group-item">
      <div>
        <i class="fas fa-address-book"></i>
        <strong>Film:</strong>
      </div>
      <div><%= Film.find(seance.film_id).name %> </div>


      <div>
        <i class="fab fa-accusoft"></i>
        <strong>Time:</strong>
        <%= seance.time.strftime("at %I:%M%p")  %>
      </div>

      <div>
        <i class="fab fa-adversal"></i>
        <strong>Hall:</strong>
        <%= Hall.find(seance.hall_id).title %>
      </div>



      <div>
        <div><%= link_to 'Show', seance, class:"btn btn-outline-success" %>
          <% if current_user && current_user.admin == true%>
            <%= link_to 'Edit', edit_seance_path(seance), class:"btn btn-outline-warning"%>
            <%= link_to 'Destroy', seance, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger"%>
          <% end %>
        </div>
      </div>
  </div>
  </div>
<% end %>




<!-- -->
<br>
