<style>
  .first_child {

    display: grid;
    padding: 5px;
    margin: 0 -5px;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
  }
  .somebody {
    color: red;
  }

  .somebody:hover {
    color: #730E15;
  }

  .contr {
  /*padding: 10px ;*/
  }
</style>


<!--<p id="notice"><%#= notice %></p>-->
<% @seances.each do |seance| %>
  <div class="container alert alert-dark contr">

      <h3 align="center">
      <%= link_to "#{Film.find(seance.film_id).name}", seance, class:"somebody" %>

      </h3>

      <div align="center"><%= image_tag Film.find(seance.film_id).image.url(:large) %> </div>

      <h4 align="center" class="somebody"><%= seance.time %></h4>

      <div class = "conta">
          <% if current_user && current_user.admin == true%>
          <div>
            <%= link_to 'Edit', edit_seance_path(seance), class:"btn btn-outline-warning"%>
          </div>

          <div>
            <%= link_to 'Destroy', seance, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger"%>
          </div>
          <% end %>
      </div>
  </div>

<% end %>




<!-- -->
<br>
