<div class="container alert alert-light form-group">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Film:</strong>
    <%= link_to "#{Film.find(@seance.film_id).name }", film_path %>
  </p>
  <p>
    <strong>Description</strong>
    <%= Film.find(@seance.film_id).description %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= @seance.time %>
  </p>

  <p>
    <strong>Hall:</strong>
    <%= @seance.hall_id %>
  </p>

  <div><%= image_tag Film.find(@seance.film_id).image.url(:large) %> </div>
  <hr>
  <%= link_to 'Edit', edit_seance_path(@seance), class:"btn btn-info" %>
  <%= link_to 'Back', seances_path , class:"btn btn-secondary"%>
</div>