<%= form_with(model: film, local: true, html: { multipart: true }) do |form| %>
  <% if film.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(film.errors.count, "error") %> prohibited this film from being saved:</h2>

      <ul>
        <% film.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.file_field :image %>
  </div>
  <div>
    <%= form.label :"Running time: " %>
    <%= form.text_field :triv %>
  </div>
  <div>
    <%= form.label :"Rated: " %>
    <%= form.text_field :obmezh %>
  </div>
  <div>
    <%= form.label :"Format: " %>
    <%= form.text_field :format %>
  </div>
  <div>
    <%= form.label :"YouTube link: " %>
    <%= form.text_field :youtube_link %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
